<!-- monitoring_area_ndvi_map.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NDVI Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
        }

        .legend {
            background: white;
            line-height: 1.5;
            color: #333;
            padding: 10px;
            font-size: 14px;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>
</head>
<body>
    <h1>NDVI Map for {{ monitoring_area.name }}</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var bounds = L.latLngBounds([
            [{{ area_bounds.1 }}, {{ area_bounds.0 }}], // (ymin, xmin)
            [{{ area_bounds.3 }}, {{ area_bounds.2 }}]  // (ymax, xmax)
        ]);

        var map = L.map('map').fitBounds(bounds);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);

        {% for result in ndvi_results %}
            var ndviUrl = "{{ result.ndvi_image_url }}";
            var overlayBounds = L.latLngBounds([
                [{{ area_bounds.1 }}, {{ area_bounds.0 }}], // (ymin, xmin)
                [{{ area_bounds.3 }}, {{ area_bounds.2 }}]  // (ymax, xmax)
            ]);
            L.imageOverlay(ndviUrl, overlayBounds).addTo(map);
        {% endfor %}

        var legend = L.control({position: 'bottomright'});

        legend.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'legend');
            var grades = [0, 0.2, 0.4, 0.6, 0.8, 1];
            var colors = ['#FF0000', '#FFA500', '#FFFF00', '#008000', '#006400'];

            div.innerHTML += '<strong>NDVI</strong><br>';

            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + colors[i] + '"></i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }

            return div;
        };

        legend.addTo(map);
    </script>
</body>
</html>
